.table {
  width: 100%;
  height: 100%;
  margin-top: 35px;
  padding: 25px;
  border-collapse:separate;
  border-spacing:0 5px;
  table-layout: fixed;
}
.btn {
  float: right;
}
.right {
  text-align :right;
}
.first {
  background-color: lightblue;
}
.second {
  background-color: lightgray;
}
.third {
  background-color: antiquewhite;
}
